<main class="content-wrapper">
  <app-scoreboard
    [numberOfAssignments]="numberOfAssignments">
  </app-scoreboard>

  <ng-container *ngIf="selectedAssignment">
    <app-selected
      [selectedAssignment]="selectedAssignment"
      [showHints]="true"
      [gameState]="gameState">
    </app-selected>
  </ng-container>

  <ng-container *ngIf="selectedAssignment && selectedAssignment.question === 'select-tone'">
    <app-tone-select-form
      [targetForm]="getTargetForm(selectedAssignment.word)"
      (answerIsCorrect)="onReceiveAnswerStatus($event)">
    </app-tone-select-form>
  </ng-container>

  <ng-container *ngIf="selectedAssignment && (selectedAssignment.question === 'write-tone' || selectedAssignment.question === 'write-word')">
    <app-form-input
      [targetForm]="getTargetForm(selectedAssignment.word)"
      (answerIsCorrect)="onReceiveAnswerStatus($event)">
    </app-form-input>
  </ng-container>
</main>
