<main class="content-wrapper">

  <app-scoreboard
    [numberOfAssignments]="assignments.length">
  </app-scoreboard>

  <section class="game-over" *ngIf="isGameOver === true">
    <h3 class="game-over-title">Game over!</h3>
    <button class="button">New game</button>
  </section>

  <ng-container *ngIf="selectedAssignment">
    <app-selected
      [showHints]="true"
      [hints]="getHints(selectedAssignment)"
      [targetForm]="getTargetForm(selectedAssignment.word)"
      [gameState]="gameState">
    </app-selected>
  </ng-container>

  <!-- 1. Show unaccented article (+ case/number/gender)		=>		pick tone pattern (multiple choice) -->
  <ng-container *ngIf="selectedAssignment && selectedAssignment.question === 'select-tone'">
    <app-tone-select-form
      [targetForm]="getTargetForm(selectedAssignment.word)"
      (answerIsCorrect)="onReceiveAnswerStatus($event)">
    </app-tone-select-form>
  </ng-container>

  <!-- 2. Show case/number/gender		=>		write the appropriate article (input field) (on mobile: contextual buttons) -->
  <ng-container *ngIf="selectedAssignment && selectedAssignment.question === 'write-tone'">
    <app-form-input
      [targetForm]="getTargetForm(selectedAssignment.word)"
      (answerIsCorrect)="onReceiveAnswerStatus($event)">
    </app-form-input>
  </ng-container>

  <!-- 3. Show accented form + target case/number/gender => write appropriate article (input field/multiple choice) -->
  <ng-container *ngIf="selectedAssignment && selectedAssignment.question === 'write-word'">
    <p>Not implemented yet...</p>
    <button (click)="onReceiveAnswerStatus(true)">Next task</button>
  </ng-container>

</main>