<section *ngFor="let word of words">  
  <table>
    <thead>
      <th>{{word.baseForm}}</th>
      <th>'{{word.translation}}'</th>
    </thead>
    <tbody>
      <tr>
        <td>Nom.sg.</td>
        <td>{{declineSubstantive(word, casus.NOMINATIVE, numerus.SINGULAR)}}</td>

        <td>Nom.du.</td>
        <td>{{declineSubstantive(word, casus.NOMINATIVE, numerus.DUAL)}}</td>

        <td>Nom.pl.</td>
        <td>{{declineSubstantive(word, casus.NOMINATIVE, numerus.PLURAL)}}</td>
      </tr>
      <tr>
        <td>Gen.sg.</td>
        <td>{{declineSubstantive(word, casus.GENITIVE, numerus.SINGULAR)}}</td>

        <td>Gen.du.</td>
        <td>{{declineSubstantive(word, casus.GENITIVE, numerus.DUAL)}}</td>

        <td>Gen.pl.</td>
        <td>{{declineSubstantive(word, casus.GENITIVE, numerus.PLURAL)}}</td>
      </tr>
      <tr>
        <td>Dat.sg.</td>
        <td>{{declineSubstantive(word, casus.DATIVE, numerus.SINGULAR)}}</td>

        <td>Dat.du.</td>
        <td>{{declineSubstantive(word, casus.DATIVE, numerus.DUAL)}}</td>

        <td>Dat.pl.</td>
        <td>{{declineSubstantive(word, casus.DATIVE, numerus.PLURAL)}}</td>
      </tr>
      <tr>
        <td>Acc.sg.</td>
        <td>{{declineSubstantive(word, casus.ACCUSATIVE, numerus.SINGULAR)}}</td>

        <td>Acc.du.</td>
        <td>{{declineSubstantive(word, casus.ACCUSATIVE, numerus.DUAL)}}</td>

        <td>Acc.pl.</td>
        <td>{{declineSubstantive(word, casus.ACCUSATIVE, numerus.PLURAL)}}</td>
      </tr>
      <tr>
        <td>Voc.sg.</td>
        <td>{{declineSubstantive(word, casus.VOCATIVE, numerus.SINGULAR)}}</td>

        <td>Voc.du.</td>
        <td>{{declineSubstantive(word, casus.VOCATIVE, numerus.DUAL)}}</td>

        <td>Voc.pl.</td>
        <td>{{declineSubstantive(word, casus.VOCATIVE, numerus.PLURAL)}}</td>
      </tr>
    </tbody>
  </table>
</section>