<div class="content-wrapper">
  <header class="course-header">
      <h4>Pick a lesson</h4>
  </header>
  
  <article class="course-overview">
      <ul class="course-list">
          <li class="lesson-card">
              <header class="card-header">
                  <h5 class="lesson-card-title">Lesson 3:</h5>
                  <h6>The Article</h6>
              </header>
              <div class="card-body">
                  <div class="img-container">
                      <p>τῶν</p>
                  </div>
                  <button class="lesson-card-button" routerLink="/course/article-lesson">Info</button>
                  <button class="lesson-card-button" routerLink="/course/article-exercise">Exercises</button>
              </div>
          </li>

          <li class="lesson-card">
              <header class="card-header">
                  <h5 class="lesson-card-title">Lesson 4:</h5>
                  <h6>The First Declension</h6>
              </header>
              <div class="card-body">
                  <div class="img-container">
                      <p>ή</p>
                  </div>
                  <button class="lesson-card-button" routerLink="/course/first-declension-lesson">Info</button>
                  <button class="lesson-card-button" routerLink="/course/first-declension-exercise">Exercises</button>
              </div>
          </li>

      </ul>
  </article>

  <!-- <footer>
      <p>Current level: {{level}}</p>
      <div class="experience-bar">
          <p class="experience-counter"></p>
      </div>
  </footer> -->
  
</div>