<section class="text-wrapper" *ngIf="displayText">
    <h4 class="text-title">{{selectedAuthor}}, <em>{{selectedWork}}</em> {{selectedPassage}}</h4>
<p *ngIf="selectedIndexWord">
    <span 
        *ngFor="let word of displayText" [id]="word[0]"
        [class.selected]="word === selectedIndexWord" 
        [class.seen]="correct.includes(word)"
        (click)="onClickWord(word)">
        {{word[1]}}
    </span>
</p>
</section>

<app-selected *ngIf="selectedIndexWord"></app-selected>

<app-scoreboard></app-scoreboard>

<app-notifications></app-notifications>

<!-- <section class="word-analysis">
    <p>Word type:</p>        
</section> -->

<app-tone-select-form 
    *ngIf="selectedIndexWord">
</app-tone-select-form>
    
