<main>
    <section class="text-select-wrapper" *ngIf="texts">
        <select name="text-select" [formControl]="selectedText">
            <option *ngFor="let text of texts" [ngValue]="text">{{text.author}} -- {{text.work}}</option>
        </select>
    </section>
    <section class="text-wrapper" *ngIf="selectedText.value; else noText">
        <h4 class="text-title">{{selectedText.value.author}}, <em>{{selectedText.value.work}}</em> {{selectedText.value.passage}}</h4>
    <p *ngIf="selectedIndexWord">
        <ng-container *ngFor="let word of accentedText">
            <span
                *ngIf="!correct.includes(word)"
                [class.selected]="word === selectedIndexWord"
                [id]="word[0]"
                (click)="onClickWord(word)">
                {{word[1] | removeAccent}}
            </span>
            <span 
                *ngIf="correct.includes(word)" 
                class="seen"
                [id]="word[0]">
                {{word[1]}}
            </span>
        </ng-container>
    </p>
    </section>
    
    <app-trainer-selected 
        *ngIf="selectedIndexWord"
        [targetForm]="selectedIndexWord[1]"
        [gameState]="gameState">
    </app-trainer-selected>
    
    <app-scoreboard *ngIf="accentedText"></app-scoreboard>
    
    <app-notifications
        [isGameOver]="isGameOver"
        [correctTonePattern]="targetTonePattern"
        [gameState]="gameState">
    </app-notifications>
    
    <!-- <section class="word-analysis">
        <p>Word type:</p>
    </section> -->
    
    <app-tone-select-form
        *ngIf="selectedIndexWord"
        [targetForm]="selectedIndexWord[1]"
        (answerIsCorrect)="onReceiveAnswerStatus($event)">
    </app-tone-select-form>
</main>
    
<ng-template #noText>
    <p>No text chosen yet.</p>
</ng-template>