<article class="content-wrapper">

  <app-scoreboard></app-scoreboard>

  <!-- <button class="new-word" type="button" (click)="getNewWord()">Pick a new word!</button> -->
  
  <ng-container *ngIf="selectedArticle">
    <app-selected
      [targetForm]="selectedArticle.form"
      [answerState]="answerState" 
      [hints]="[selectedArticle.case, selectedArticle.gramNumber, selectedArticle.gender]">
    </app-selected>
  </ng-container>

  <!-- 1. Show unaccented article (+ case/number/gender)		=>		pick tone pattern (multiple choice) -->
  <ng-container *ngIf="selectedArticle">
    <app-tone-select-form
      [targetForm]="selectedArticle.form | addAccent:selectedArticle.tone"
      (answerIsCorrect)="onReceiveAnswerStatus($event)">
    </app-tone-select-form>
  </ng-container>

  <!-- 2. Show case/number/gender		=>		write the appropriate article (input field) (on mobile: contextual buttons) -->
  <ng-container *ngIf="selectedArticle">
    <app-form-input
      [targetForm]="selectedArticle.form | addAccent:selectedArticle.tone"
      (answerIsCorrect)="onReceiveAnswerStatus($event)">
    </app-form-input>
  </ng-container>

  <!-- 3. Show accented form + target case/number/gender => write appropriate article (input field/multiple choice) -->

</article>