<article class="content-wrapper">

  <app-scoreboard></app-scoreboard>

  <!-- <button class="new-word" type="button" (click)="getNewWord()">Pick a new word!</button> -->
  
  <ng-container *ngIf="selectedArticle">
    <app-selected 
      [selectedWord]="displayWord" 
      [hints]="[selectedArticle.case, selectedArticle.gramNumber, selectedArticle.gender]">
    </app-selected>
  </ng-container>

  <!-- 1. Show unaccented article (+ case/number/gender)		=>		pick tone pattern (multiple choice) -->
  <ng-container>
    <app-tone-select-form 
      (answerIsCorrect)="onReceiveAnswerStatus($event)">
    </app-tone-select-form>
  </ng-container>

  <!-- 2. Show case/number/gender		=>		write the appropriate article (input field) (on mobile: contextual buttons) -->
  <ng-container>
    <app-form-input
      (answerIsCorrect)="onReceiveAnswerStatus($event)"></app-form-input>
  </ng-container>

  <!-- 3. Show accented form + target case/number/gender => write appropriate article (input field/multiple choice) -->

</article>