<section class="display-wrapper card" 
[class.hinted]="hints"
*ngIf="targetForm">
  <h4 class="display-header">Determine the tonal pattern of:</h4>
  <h2 
    class="display-word"
    [class.correct]="gameState === 'correct'" 
    [class.incorrect]="gameState === 'incorrect'">
    <ng-container *ngIf="gameState !== 'correct'; else correct">
      {{targetForm | trim | removeAccent}}
    </ng-container>
    <ng-template #correct>{{targetForm | trim}}</ng-template>

    
    <ng-container *ngIf="hints && showHints">
      <br>
      <span 
        *ngFor="let hint of hints"
        class="hint"
        [class.correct]="gameState === 'correct'"
        [class.incorrect]="gameState === 'incorrect'"> 
        {{hint}}
      </span>
    </ng-container>
  </h2>
  
  <div class="hint-button-wrapper" *ngIf="hints">
    <h5>Hints:</h5>
    <button  
      class="button red"
      [class.show-hints]="showHints" 
      (click)="showHints = !showHints">
      {{showHints ? 'On' : 'Off'}}
    </button>
  </div>

</section>