.display-wrapper {
  padding: 1em;
  position: relative;

  &.hinted {
    @media screen and (max-width: 600px) {
      padding-top: 3em;
    }
  }


  .display-header {
    margin-bottom: 0.5em;
  }

  .settings-wrapper {
    position: absolute;
    top: 6px;
    right: 10px;
    display: flex;
    align-items: center;

    .setting-button {
      display: flex;
      align-items: center;

      h5 {
        margin-right: 10px;
      }

      &:first-of-type {
        margin-right: 20px;
      }
    }
  }

  .selected-body {
    justify-self: flex-start;
    text-align: center;
    color: #ca4f41;
    border-radius: 5px;
    border: 1px solid #ca4f41;
    padding: 0.25em;

    @keyframes bounce {
      0% { transform: scale(1); }
      10% { transform: scale(1.2); }
      100% { transform: scale(1); }
    }

    &.correct {
      background-color: lightgreen;
      color: white;
      animation-name: bounce;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }

    &.incorrect {
      background-color: pink;
      color: white;
      animation-name: bounce;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }
  }

  .hint {
    font-size: 14px;
    color: black;

    &:last-of-type::after {
      content: ')';
    }

    &:first-of-type::before {
      content: '(';
    }

    &.correct {
      background-color: lightgreen;
      color: white;
    }

    &.incorrect {
      background-color: pink;
      color: white;
    }
  }
}
