<section class="display-wrapper card" 
[class.hinted]="hints"
*ngIf="selectedAssignment">
  <h4 class="display-header">
    {{selectedAssignment.question === 'write-word' ? 'Provide the requested form:' : 'Determine the tonal pattern of:'}}
  </h4>
  <section class="selected-body" [class.correct]="gameState === 'correct'" 
  [class.incorrect]="gameState === 'incorrect'">
    <h2 class="display-word">
      <ng-container *ngIf="gameState === 'waiting'; else correctAnswer">
        {{getDisplayForm(selectedAssignment) | trim | removeAccent}}
      </ng-container>
      <ng-template #correctAnswer>
        {{getDisplayForm(selectedAssignment) | trim}}
      </ng-template>
    </h2>
    
    <section *ngIf="hints && showHints" class="grammatical-hints">
      <span
        *ngFor="let hint of hints"
        class="hint"
        [class.correct]="gameState === 'correct'"
        [class.incorrect]="gameState === 'incorrect'">
        {{hint}}
      </span>
    </section>

    <section *ngIf="baseForm && showBaseForm" class="base-form">
      <span>{{baseForm}}</span>
    </section>
  </section>



  <aside class="settings-wrapper" *ngIf="hints">
    <div class="setting-button">
      <h5>Hints:</h5>
      <app-toggle-switch [isOn]="showHints" (switchOn)="showHints = $event">
      </app-toggle-switch>
    </div>
    <div class="setting-button">
      <h5>Base form:</h5>
      <app-toggle-switch [isOn]="showBaseForm" (switchOn)="showBaseForm = $event">
      </app-toggle-switch>
    </div>
  </aside>

</section>