.selected-header {
    margin-top: .5em;
}

.selected-word {
    justify-self: flex-start;
    text-align: center;
    margin: .5em;
    color: #ca4f41;
    border-radius: 5px;
    border: 3px solid #ca4f41;
    padding: .25em;
}

.hint {
    font-size: smaller;
    color: black;

    &:last-of-type::after {
        content: ")";
    }

    &:first-of-type::before {
        content: "(";
    }
}