<form [formGroup]="form" (submit)="submitAnswer.next(); $event.preventDefault()">
  <div class="form-row">
    <label for="input">Enter the accented Greek form:</label>
    <input 
      type="text" 
      name="input" 
      (input)="onInput($event)" 
      formControlName="input">
    <div
      class="info"
      [class.show-info]="showInfo" 
      (click)="showInfo = !showInfo">
      <p class="info-text" [class.show-info]="showInfo">i</p>
    </div>
  </div>
  <div class="button-row">
    <button class="button">Clear input</button>
    <button class="button">Submit answer</button>
  </div>
</form>

<app-conversion-table @slideIn *ngIf="showInfo"></app-conversion-table>