<form class="button-wrapper">
    <button 
    *ngFor="let tp of tonePatterns"
        [class]="tp + '-button'"
        [class.disabled]="!applyTonePatternToWord(selectedWord, tp)"
        [disabled]="!applyTonePatternToWord(selectedWord, tp)"
        [style.grid-area]="tp"
        type="button"
        (click)="selectTone.next(tp)">
        {{tp}}
        <br>
        {{applyTonePatternToWord(selectedWord, tp) ?? ''}}
    </button>        
    <button class="new-word" type="button" (click)="selectNewWord.next()">Pick a new word!</button>
    </form>