form {
    margin-top: auto;
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-areas:
        "toneless toneless"
        "oxytone_acute oxytone_grave"
        "paroxytone proparoxytone"
        "perispomenon properispomenon"
        "proparoxytone_and_oxytone properispomenon_and_oxytone";
    gap: .5em;

    button {
        font-weight: bold;
        padding: .75em;
        border-radius: 5px;
        grid-column: 1fr;
        background-color: purple;
        color: white;
        border: 2px solid white;
        outline: 1px solid purple;
        box-shadow: 1px 1px 1px 1px black;

        &.disabled {
            background-color: #777777;
            box-shadow: none;
            
            &:active {
                transform: translateY(0);
            }
        }

        &:active {
            transform: translateY(2px);
            box-shadow: none;
        }
    }

    .toneless-button {
        grid-row: 1 / 1;
        grid-column: span 2;
        margin: .25em;
    }

    .new-word {
        grid-column: span 2;
        width: 100%;
        background-color: #ca4f41;
        outline: 1px solid #ca4f41;
    }
}