<article class="content-wrapper">
    <section class="lesson-text">
        <header class="lesson-header">
            <h5>Accentuation of the definite article</h5>
        </header>
        <section class="text-body">
            <p>The definite article follows three rules:</p>
            <ul>
                <li>The direct cases (nom./acc.) are oxytone: τόν, τώ, τά. (A1)</li>
                <ul>
                    <li>Exception: The nom./acc. sg./pl. m./f. are toneless: ὁ, ἡ, οἱ, αἱ. (A1a)</li>
                </ul>
                <li><strong>A2</strong>:The oblique cases (gen./dat.) are perispomenon: τῶν, τοῖν, ταῖς. (A2)</li>
            </ul>
        </section>
    </section>
    <section class="exercise">
        <h5>Determine the tone pattern of the following word:</h5>
        
    </section>
</article>