<article class="content-wrapper">
    <section class="lesson-text">
        <header class="lesson-header">
            <h3>Accentuation of the definite article</h3>
        </header>
        <section class="text-body">
            <p>The accentuation of the definite article follows three rules:</p>
            <ol>
                <li>The direct cases (nom./acc.) are oxytone: τόν, τώ, τά etc. (A1)</li>
                <ul>
                    <li><strong>Exception</strong>: The nom./acc. sg./pl. m./f. are toneless: ὁ, ἡ, οἱ, αἱ. (A1a)</li>
                </ul>
                <li>The oblique cases (gen./dat.) are perispomenon: τῶν, τοῖν, ταῖς etc. (A2)</li>
            </ol>
            <p><strong>NB:</strong> the vocative marker ὦ (not strictly an article) is perispomenon.</p>
        </section>
    </section>
</article>
    