<div class="display-wrapper card">
  <form class="button-wrapper" *ngIf="targetForm">
    <button 
      *ngFor="let tp of tonePatterns"
      [class]="tp + '-button'"
      [class.disabled]="!applyTonePatternToWord(targetForm, tp)"
      [disabled]="!applyTonePatternToWord(targetForm, tp)"
      [style.grid-area]="tp"
      type="button"
      (click)="selectedTone$.next(tp)">
      {{tp}}
      <br>
      {{targetForm | trim | removeAccent | addAccent:tp}}
    </button>        
  </form>
</div>