<section class="table-wrapper">
  <p class="table-header">Character conversion table</p>
  <table class="char-table">
    <thead>
      <tr>
        <th>α</th>
        <th>β</th>
        <th>γ</th>
        <th>δ</th>
        <th>ε</th>
        <th>ζ</th>
        <th>η</th>
        <th class="marked">θ</th>
        <th>ι</th>
        <th>κ</th>
        <th>λ</th>
        <th>μ</th>
        <th>ν</th>
        <th class="marked">ξ</th>
        <th>ο</th>
        <th>π</th>
        <th>ρ</th>
        <th>σ</th>
        <th class="marked">ς</th>
        <th>τ</th>
        <th class="marked">υ</th>
        <th>φ</th>
        <th class="marked">χ</th>
        <th class="marked">ψ</th>
        <th class="marked">ω</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>a</td>
        <td>b</td>
        <td>g</td>
        <td>d</td>
        <td>e</td>
        <td>z</td>
        <td>h</td>
        <td class="marked">q</td>
        <td>i</td>
        <td>k</td>
        <td>l</td>
        <td>m</td>
        <td>n</td>
        <td class="marked">j</td>
        <td>o</td>
        <td>p</td>
        <td>r</td>
        <td>s</td>
        <td class="marked">w</td>
        <td>t</td>
        <td class="marked">u/y</td>
        <td>f</td>
        <td class="marked">x</td>
        <td class="marked">c</td>
        <td class="marked">v</td>
      </tr>
    </tbody>
  </table>

  <p class="table-header">Accent toggles: place and remove diacritics using the following keys:</p>
  <table class="tone-table">
    <thead>
      <tr>
        <th>ά</th>
        <th>ὰ</th>
        <th>ᾶ</th>
        <th>ἀ</th>
        <th>ἁ</th>
        <th>ᾳ</th>
        <th>ϊ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>a/</td>
        <td>a\</td>
        <td>a=</td>
        <td>a)</td>
        <td>a(</td>
        <td>a,</td>
        <td>i.</td>
      </tr>
    </tbody>
  </table>
</section>