<article class="content-wrapper">
  <section class="lesson-text">
    <header class="lesson-header">
      <h3>Accentuation of first declension substantives and adjectives</h3>
    </header>
    <section class="text-body">
      <p>The accentuation of first declension substantives and adjectives observes the first main rule:</p>

      <h4>The accent follows the nominative singular as much as possible. (MR1)</h4>

      <p>Note that this is not always possible in light of the <span tooltip="The accent can only stand on the final or penultimate syllable.">limitation rule</span>.</p>

      <h4>Special rules</h4>
      <ol>
        <li>Oxytones become perispomena in the gen./dat. (sg./du./pl.): ψυχή, ψυχῆς, ψυχῇ, ψυχήν, ψυχά, ψυχαῖν (FD1).</li>
        <li>The genitive plural is always perispomenon due to contraction: μοῦσα > (μουσάων >) μουσῶν (FD2)
          <ul>
            <li>Exception: the genitive plural of adjectives follows the accentuation of the nominative singular if the stem is the same as that of the masculine and neuter: ἄξιος > ἄξίων (m./f./n.), but μέλας > gen.pl.f. μελαινῶν (FD2), but m./n. μελάνων (MR1)</li>
          </ul>
        </li>
      </ol>

    
      <h4>Desinential lengths</h4>
      <ul>
        <li>Nom./acc.sg. -α(ν) in substantives can be long -ᾱ(ν) (< PIE *-<i>eh<sub>2</sub>(m)</i>) or short -ᾰ(ν) (< PIE *-<i>h<sub>2</sub>(m)</i>). In adjectives, -ᾱ(ν) is always long (because of the ρει-rule).</li>
        <li>Acc.pl. -ᾱς is always long in Ionic-Attic (because of the Second Compensatory Lengthening).</li>
        <li>Nom.pl. -ᾰι is always short.</li>
        <li>Voc.sg. -ᾰ is always short in masculines in -ης and -της: ναύτης > ναῦτᾰ.</li>
      </ul>
      

      <h4>Advanced material</h4>
      <ol>
        <li>The Ionic genitive in -εω is considered one syllable and does not force an accent shift: Πηληϊάδης > Πηληϊάδεω (**Πηληϊαδέω), Ἑρμῆς > Ἑρμἐω. (FD+1)</li>
        <li>Genitives in -ιω, -ια are paroxytone: ἐϋμμελίω, Ἐρμείω, ἐϋμμελία. (FD+2)</li>
        <li>Genitives in -αο are recessive: Ἀτρεΐδης > Ἀτρείδου / Ἀτρείδαο, ἀργεστής > ἀργεστοῦ / ἀργεστᾶο. (FD+3)</li>
      </ol>

    </section>
  </section>
</article>